---
import BaseLayout from '../layouts/BaseLayout.astro';
import Welcome from '../components/Welcome';
---

<BaseLayout title="N2 Solutions">
  <main>
    <h1>N2 Solutions</h1>
    <p>Site is under construction.</p>
    <Welcome client:load />
  </main>
</BaseLayout>
